---
import Card from "@components/Card.astro";
import Modal from "@components/Modal.astro";
import DiscordIcon from "@components/icons/DiscordIcon.astro";
import GitHubIcon from "@components/icons/GitHubIcon.astro";

import PrimaryLayout from "@layouts/PrimaryLayout.astro";
import { projects } from "./data";
import BranchIcon from "@components/icons/BranchIcon.astro";
import LinkIcon from "@components/icons/LinkIcon.astro";
---

<PrimaryLayout>
  <main
    class="flex h-screen min-h-screen w-screen grid-cols-4 flex-col gap-8 bg-zinc-950 stroke-zinc-50 p-4 text-zinc-50 lg:grid"
  >
    <Card class="col-span-3 row-span-2 flex items-center p-8 flex-grow">
      <h1
        class="w-full text-5xl font-extrabold tracking-tight max-lg:text-center sm:text-7xl lg:text-9xl"
      >
        Anto's <br /> Portfolio
      </h1>
    </Card>
    <Card>
      <h2 class="mb-4 text-center text-4xl font-bold">Contact</h2>
      <ul class="flex flex-col gap-2">
        <li class="flex items-center gap-2">
          <GitHubIcon size={32} />
          <a
            class="text-lg font-semibold underline"
            href="https://github.com/antoKeinanen/">AntoKeinanen</a
          >
        </li>

        <li class="flex items-center gap-2">
          <DiscordIcon size={32} />
          <a
            class="text-lg font-semibold underline"
            href="https://discordapp.com/users/360475200560824330">Anto.K</a
          >
        </li>
      </ul>
    </Card>
    <Card>
      <h2 class="mb-4 text-center text-4xl font-bold">Projects</h2>
      <ul class="flex flex-col gap-2">
        {
          projects.map((project) => (
            <>
              <Modal
                id={project.name.replaceAll(" ", "") + "_modal"}
                open={false}
              >
                <li class="flex gap-2" slot="button">
                  <project.icon size={32} />
                  <p class="text-lg font-bold underline">{project.name}</p>
                </li>

                <section>
                  <h1 class="mb-2 text-4xl font-semibold">{project.name}</h1>
                  <p class="text-lg text-zinc-200">{project.description}</p>
                </section>

                <section>
                  <div class="mt-6 flex flex-wrap gap-6">
                    {project.url && (
                      <a
                        target="_blank"
                        href={project.url}
                        class="flex w-fit items-center gap-2 rounded-xl border border-zinc-50 px-4 py-2 text-lg"
                      >
                        <LinkIcon size={24} />
                        Live demo
                      </a>
                    )}
                    {project.source && (
                      <a
                        target="_blank"
                        href={project.source}
                        class="flex w-fit items-center gap-2 rounded-xl border border-zinc-50 px-4 py-2 text-lg"
                      >
                        <BranchIcon size={24} />
                        Source code
                      </a>
                    )}
                  </div>
                  <hr class="my-8" />
                  <ul class="flex flex-wrap gap-6">
                    <p class="text-lg font-semibold">Built with:</p>
                    {project.tech.map((tech) => (
                      <a target="_blank" href={tech.url}>
                        <li class="flex gap-2 stroke-zinc-50">
                          <tech.icon size={32} />
                          <p class="text-lg underline">{tech.name}</p>
                        </li>
                      </a>
                    ))}
                  </ul>
                </section>
              </Modal>
            </>
          ))
        }
      </ul>
    </Card>
  </main>
</PrimaryLayout>
